* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #7e7e7e; */
}
ul {
  padding-left: 0;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
